*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* navbar section css start */
.navbar-section {
    background: rgb(195, 191, 191);
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo h1{
    font-weight: 700;
    color: aqua;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-item ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-item ul li{
    list-style-type: none;
}

.nav-item ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(80, 78, 78);
    font-weight: 500;
}
/* navbar section css end */

/* banner section css start */
.banner{
    background-image: url('../asset/images/background.jpg'),linear-gradient(rgba(0, 0 ,0 , 0.3), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner-content{
    color: #fff;
}

.banner-content h1{
    font-size: 42px;
    text-transform: capitalize;
    font-weight: 600;
}

.banner-content h1 span{
    color: red;
}

.banner-content p{
    width: 50%;
    margin: 15px auto;
}

.banner-content button{
    padding: 15px 30px;
    font-weight: 500;
    background: #fff;
    color: #000000;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
}

.banner-content .btn-primary{
    padding: 15px 30px;
    font-weight: 500;
    background: red;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}
/* banner section css end */


/* services section css start */
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../asset/images/footer-bg.png'),linear-gradient(rgba(0, 0 ,0 , 0.9), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: #fff;
    padding: 20px;

}

.services-content{
    width: 50%;
    margin-left: 60px;
}

.services-content .services-btn{
    padding: 12px 25px;
    font-weight: 500;
    background: red;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.services-content h1{
    font-size: 37px;
    font-weight: 600;
}

.services-content h1 span{
    color: red;
}

.services-content p {
    margin-top: 15px;
    font-size: 16px;
}

.services-content ol{
    margin-top: 20px;
    margin-left: 18px;
}

.author-details{
    display: flex;
    align-items: center;
    
}

.author{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    border-right: 2px solid red;
    padding-right: 30px;
}

.author img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.author-btn button{
    margin-top: 30px;
    margin-left: 60px;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 15px;
    color: red;
    background: #fff;
    font-weight: 500;
    border: none;
    font-size: 16px;
}
.upper-boxes{
    display: flex;
    gap: 10px;
    text-align: center;
    color: #000000;
    margin-right: 60px;
}

.upper-boxes .box-1{
   width: 200px;
   height: 200px;
   background: #fff;
   padding: 10px;
}

.upper-boxes .box-1 img{
    margin-top: 10px;
    width: 100px;
}


.down-boxes{
    display: flex;
    gap: 10px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-right: 60px;
}

.down-boxes .box-1{
   width: 200px;
   height: 200px;
   background: #fff;
   padding: 10px;
}

.down-boxes .box-1 img{
    margin-top: 10px;
    width: 100px;
}
/* services section css end */


/* appointment section css start */

 .appointment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 80%;
    margin: 40px auto 0 auto;
    background: red;
    border-radius: 10px;
    /* position: relative; */
    margin-top: -80px;
    color: #fff;
 }

 .app-call{
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(193, 161, 161);
 }

 .app-call img{
    width: 90px;
 }

 .app-call h4{
    margin-left: 15px;
    font-size: 20px;
 }

 .app-call h4 small{
   font-size: 13px;
 }

 .app-content{
    margin-left: 10px;
 }

 .app-button button {
    padding: 10px 40px;
    border: none;
    background: #fff;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 500;
 }
/* appointment section css end */

/* blog section css start */
.blog{
   width: 80%;
   margin: 60px auto 0 auto;
}

.blog-content{
    text-align: center;
}

.blog-content h1{
    font-size: 38px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.blog-content h1 span{
    color: red;
}

.blog-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.blog-cards .card-1{
    width: 300px;
    height: 380px;
    background: floralwhite;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(74, 73, 72);
}

.blog-cards .card-1 h1{
    padding: 10px;
    font-size: 20px;
}

.blog-cards .card-1 p{
    padding: 10px;
}

.blog-cards .card-1 img{
    width: 300px;
}

.blog-cards .card-2{
    width: 300px;
    height: 380px;
    background: floralwhite;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(74, 73, 72);
}

.blog-cards .card-2 h1{
    padding: 10px;
    font-size: 20px;
}

.blog-cards .card-2 p{
    padding: 10px;
}

.blog-cards .card-2 img{
    width: 300px;
}


.blog-cards .card-3{
    width: 300px;
    height: 380px;
    background: floralwhite;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(74, 73, 72);
}

.blog-cards .card-3 h1{
    padding: 10px;
    font-size: 20px;
}

.blog-cards .card-3 p{
    padding: 10px;
}

.blog-cards .card-3 img{
    width: 300px;
}

/* blog section css end */